{
	"trailingComma": "es5",
	"semi": false,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": false,
	"tabWidth": 2,
	"useTabs": false
}
